<div [class]="'exercise-card mb-3 color-'+exerciseTopic.courseType">
  <div class="exercise-card-title">
    {{exerciseTopic.topic}}
    <span class="ms-3" [ngClass]="'pill-'+exerciseTopic.courseType">
      @switch (exerciseTopic.courseType) {
      @case (CourseType.elec) {Elec}
      @case (CourseType.info) {Info}
      @case (CourseType.meca) {Meca}
      @case (CourseType.maths) {Math}
      }
    </span>
    <span class="ms-2" [ngClass]="'pill-'+CourseType.undefined">{{exerciseTopic.course}}</span>
  </div>

  <div class="">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom de l'exercise</th>
          <th scope="col">Source</th>
          <th scope="col">Corrigé ?</th>
          <th scope="col">Difficulté</th>
          @if (editable) {
          <th></th>
          }
        </tr>
      </thead>
      <tbody>
        @for (exercise of exerciseList; track exercise) {
        <tr>
          <td><a class="custom-link" (click)="openExercise(exercise)">{{exercise.title}}</a></td>
          <td>{{exercise.source}}</td>
          <td>{{exercise.isCorrected ? 'Oui' : 'Non'}}</td>
          <td>
            <rating [(ngModel)]="exercise.difficulty" [max]="5" [readonly]="true"></rating>
          </td>
          @if (editable) {
          <td><a class="custom-link" (click)="openEditPopup(exercise)">Editer</a></td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="card-footer text-body-secondary d-flex justify-content-evenly">
    @if (!editable) {
    <app-color-button [courseType]="exerciseTopic.courseType" [isFilled]="true" (click)="openDiscordLink()">Pose nous
      tes questions !</app-color-button>
    }
    @if (editable) {
    <app-color-button [courseType]="exerciseTopic.courseType" [isFilled]="true" (click)="openTopicEditPopup()">Editer la
      catégorie</app-color-button>
    }
  </div>
</div>