@import '../../shared/styles/variables.scss';

@each $color in $course-colors {
    .course-color-#{$color} {
        background-color: #{'#' + $color};
        color: white;
    }
}

a {
    color: var(--bs-body-color);
    text-decoration: underline;
}