::ng-deep .fc a {
    color: var(--bs-body-color);
    text-decoration: none;
    text-transform: capitalize; 
}

::ng-deep .fc-toolbar-title {
    text-transform: capitalize; 
}

::ng-deep .fc-event {
    cursor: pointer;
}   

:root {
    --fc-today-bg-color: #F5F5F5;
}

::ng-deep .fc-day-today {
    --fc-today-bg-color: #F5F5F5;
}

::ng-deep .fc-event-time {
    margin-left: 3px;
}