@import '../../shared/variables';

@each $color in $course-colors {
    .course-color-#{$color} {
        background-color: #{'#' + $color};
        color: white;
    }
}

a {
    color: var(--bs-body-color);
}