<div class="card" style="width: auto;">
    <div class="card-header bg-warning">
        <div class="d-flex navbar navbar-expand-sm navbar-dark justify-content-center">
            <div class="navbar-collapse">
                <p class="m-0" style="color: #ffffff; font-weight: bold;">LO21</p>
            </div>
            <div class="navbar-brand position-absolute mx-0">
                <span style="color: #ffffff; font-weight: bold;">Les listes
                    chaînées</span>
            </div>
        </div>
    </div>

    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom de l'exercise</th>
                    <th scope="col">Source</th>
                    <th scope="col">Corrigé ?</th>
                    <th scope="col">Difficulté</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Entrainement au médian</td>
                    <td>Tyuvetou</td>
                    <td>oui</td>
                    <td>&#9733;&#9733;&#9734;&#9734;&#9734;</td>
                </tr>
                <tr>
                    <td>Entrainement au médian</td>
                    <td>Tyuvetou</td>
                    <td>oui</td>
                    <td>&#9733;&#9733;&#9733;&#9734;&#9734;</td>
                </tr>
                <tr>
                    <td>Entrainement au médian</td>
                    <td>Tyuvetou</td>
                    <td>non</td>
                    <td>&#9733;&#9734;&#9734;&#9734;&#9734;</td>
                </tr>
                <tr>
                    <td>Entrainement au médian</td>
                    <td>Tyuvetou</td>
                    <td>oui</td>
                    <td>&#9733;&#9733;&#9733;&#9733;&#9734;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-body-secondary bg-warning d-flex justify-content-center">
       <!-- <app-color-button [isFilled]="true" content="Pose nous tes questions !"></app-color-button> -->
    </div>
</div>