<div class="card mb-3" style="width: auto; max-width: 45em;">
    <div [ngClass]="'course-color-'+exerciseTopic.courseType"
        class="card-header container-fluid d-flex justify-content-center" style="height: 2.5rem;">
        <div class="navbar-collapse">
            <h5><strong>LO21</strong></h5>
        </div>
        <div class="navbar-brand position-absolute mx-0">
            <h5><strong>{{exerciseTopic.topic}}</strong></h5>
        </div>
    </div>

    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom de l'exercise</th>
                    <th scope="col">Source</th>
                    <th scope="col">Corrigé ?</th>
                    <th scope="col">Difficulté</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exercise of exerciseList">
                    <td><a [routerLink]="['/exercices', exercise.id]">{{exercise.title}}</a></td>
                    <td>{{exercise.source}}</td>
                    <td>{{exercise.isCorrected ? 'Oui' : 'Non'}}</td>
                    <td>{{generateStars(exercise.difficulty)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div [ngClass]="'course-color-'+exerciseTopic.courseType"
        class="card-footer text-body-secondary d-flex justify-content-evenly">
        <app-color-button [courseType]="exerciseTopic.courseType" [isFilled]="true"
            content="Pose nous tes questions !"></app-color-button>
    </div>
</div>