.btn-style {
    border-radius: 0.3em;
    text-align: center;
    font-weight: 600;
}

.btn-red {
    border: 2px solid #ffffff;
    background-color: #ED4444;
    color: #ffffff;
}

.btn-white {
    border: 2px solid #ED4444;
    background-color: #ffffff;
    color: #ED4444;
}