.btn-style {
    border-radius: 0.3em;
    text-align: center;
    font-weight: 600;
}

.btn-big {
    min-height: 2.8em;
    padding-inline: 1em;
}

.btn-small {
    min-height: 2.2em;
}

.btn-red {
    border: 2px solid #FFFFFF;
    background-color: #ED4444;
    color: #ffffff;
}

.btn-white {
    border: 2px solid #ED4444;
    background-color: #FFFFFF;
    color: #ED4444;
}