<div class="card text-center mt-1" style="width: auto; height: auto;">
    <div [class]="cardStyleMap.get(cardName)?.style" class="card-header container-fluid d-flex justify-content-between" style="height: 2.5rem;">
        <h5>{{cardStyleMap.get(cardName)?.ue}}</h5>
        <div class="time d-flex">
            <p>{{cardStyleMap.get(cardName)?.date}}</p>
            <p class="pe-1 ps-1">à</p>
            <p>{{cardStyleMap.get(cardName)?.time}}</p>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title"><strong>{{cardStyleMap.get(cardName)?.title}}</strong></h5>
        <h6>Actionneur(s):</h6>
        <p>{{cardStyleMap.get(cardName)?.actionner}}</p>
        <p style="font-weight: lighter; font-size: small;">{{cardStyleMap.get(cardName)?.description}}</p>
        <app-button buttonName="edit"></app-button>
    </div>
    <div [class]="cardStyleMap.get(cardName)?.style" class="card-footer text-body-secondary d-flex justify-content-evenly">
        <app-button buttonName="ressource"></app-button>
        <app-button buttonName="participate"></app-button>
    </div>
</div>