@import '../../shared/variables';

.charbon-card {
    width: auto;
    height: auto;
}

@each $color in $course-colors {
    .course-color-#{$color} {
        background-color: #{'#' + $color};
        color: white;
    }
}