<div class="charbon-card card text-center mt-1">
    <div [ngClass]="'course-color-'+courseType" class="card-header container-fluid d-flex justify-content-between math-style"
        style="height: 2.5rem;">
        <h5>{{charb.course}}</h5>
        <div class="time d-flex">
            <p>{{charb.date}}</p>
            <p class="pe-1 ps-1">à</p>
            <p>{{charb.time}}</p>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title"><strong>{{charb.title}}</strong></h5>
        <h6>Actionneur(s):</h6>
        <p>{{charb.actionners}}</p>
        <p style="font-weight: lighter; font-size: small;">{{charb.description}}</p>
        <app-color-button content="Editer"></app-color-button>
    </div>
    <div [ngClass]="'course-color-'+courseType" class="card-footer text-body-secondary d-flex justify-content-evenly math-style">
        <app-color-button content="Ressources" [isFilled]="true" ></app-color-button>
        <app-color-button content="Participer"></app-color-button>
    </div>
</div>