<div [class]="'charbon-card color-'+charbon.courseType">
  <div class=" charbon-card-title">
    {{charbon.title}}
    <span class="ms-3" [ngClass]="'pill-'+charbon.courseType">
      @switch (charbon.courseType) {
      @case (CourseType.elec) {Elec}
      @case (CourseType.info) {Info}
      @case (CourseType.meca) {Meca}
      @case (CourseType.maths) {Math}
      }
    </span>
    <span class="ms-2" [ngClass]="'pill-'+CourseType.undefined">{{charbon.course}}</span>
  </div>
  <div class="charbon-card-description">{{charbon.description}}</div>
  <div class="charbon-card-footer">
    <span class="me-2"><img src="assets/images/people.svg" alt=""> {{actionneurs}}</span>
    <span class="mx-2"><img src="assets/images/clock.svg" alt=""> {{charbon.date | date: 'dd/MM/yyyy'}},
      <strong><u>{{charbon.date | date: 'HH\'h\'mm'}}</u></strong></span>
    @if (charbon.resources) {
    <span class="mx-2"><img src="assets/images/download.svg" alt="">
      <a class="custom-link" (click)="downloadContent()">Télécharger</a>
    </span>
    }
  </div>
</div>