<div class="charbon-card card text-center mt-1" style="width: 20em;">
    <div [ngClass]="'course-color-'+charbon.courseType"
        class="card-header container-fluid d-flex justify-content-between" style="height: 2.5rem;">
        <h5 class="card-title">
            <ng-container *ngIf="!isEditing; else editCourse">
                <strong>{{charbon.course}}</strong>
            </ng-container>
            <ng-template #editCourse>
                <input type="text" style="width: 5em;" [(ngModel)]="charbon.course">
            </ng-template>
        </h5>
        <div class="time d-flex">
            <ng-container *ngIf="!isEditing; else editDate">
                <p>{{charbon.date | date: 'dd/MM/yyyy à HH\'h\'mm'}}</p>
            </ng-container>
            <ng-template #editDate>
                <input type="datetime-local"  [(ngModel)]="charbon.date">
            </ng-template>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <ng-container *ngIf="!isEditing; else editTitle">
                <strong>{{charbon.title}}</strong>
            </ng-container>
            <ng-template #editTitle>
                <input type="text" class="form-control" [(ngModel)]="charbon.title">
            </ng-template>
        </h5>
        <ng-container *ngIf="!isEditing; else editActionners">
            <h6>Actionneur(s):</h6>
            <p>{{charbon.actionners}}</p>
        </ng-container>
        <ng-template #editActionners>
            <select class="form-select" [(ngModel)]="charbon.actionners">
                <option value="1">{{charbon.actionners}}</option>
            </select>
        </ng-template>
        <ng-container *ngIf="!isEditing; else editDescription">
            <p style="font-weight: lighter; font-size: small;">{{charbon.description}}</p>
        </ng-container>
        <ng-template #editDescription>
            <textarea class="form-control mt-2 mb-2" [(ngModel)]="charbon.description" rows="3"></textarea>
        </ng-template>
        <ng-container *ngIf="isEditing;">
            <div class="row">
                <div class="col-md-12">
                    <input type="url" class="form-control mb-2" placeholder="Charbon Rediffusion"> 
                </div>           
                <div class="col-md-12">
                    <input type="file" class="form-control mb-2" placeholder="Charbon Ressources"> 
                </div>      
            </div>
        </ng-container>
        <ng-container *ngIf="!isEditing; else editConfirm">
            <app-color-button *ngIf="edit" [courseType]="charbon.courseType" [isFilled]="false"
            content="Editer" (click)="toogleEdit()"></app-color-button>
            <h5 *ngIf="!edit">
                <img src="../assets/images/charbon.svg" class="charbon-img-inline">
                {{charbon.date | dateInterval}}
            </h5>
        </ng-container>
        <ng-template #editConfirm>
            <app-color-button [courseType]="charbon.courseType" [isFilled]="false"
            content="Annuler" (click)="toogleEdit()"></app-color-button>
            <app-color-button [courseType]="charbon.courseType" [isFilled]="true"
            content="Confirmer" (click)="confirmEdit()"></app-color-button>  
        </ng-template>        
    </div>
    <div *ngIf="!isEditing" [ngClass]="'course-color-'+charbon.courseType"
        class="card-footer text-body-secondary d-flex justify-content-evenly" >
        <app-color-button [courseType]="charbon.courseType" [isFilled]="true" content="Ressources"></app-color-button>
        <app-color-button *ngIf="!edit" [courseType]="charbon.courseType" [isFilled]="false" content="Participer"></app-color-button>
        <app-color-button *ngIf="edit" [courseType]="charbon.courseType" [isFilled]="false" content="Rediffusion"></app-color-button>
    </div>
</div>