<app-background-card title="Edition de charbons">
    <app-add-charbon></app-add-charbon>
</app-background-card>

<app-background-card title="Edition annonces">
    <div class="row mt-4 ms-2">
        <div class="col-md-4 border-end border-3">
            <h5 class="mb-3">Modifier annonces</h5>
            <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                <app-main-button content="Editer annonces" [isFilled]="false" [isBig]="true" routerLink="/action/edit-charbon"></app-main-button>
            </div>
        </div>
        <div class="col-md-8 ps-3">
            <h5 class="mb-3">Ajouter annonces </h5>
            <app-announcement-card [isEmpty]="true"></app-announcement-card>
        </div>   
    </div>
</app-background-card>

<app-background-card title="Edition d'exercise (test)">
    <input type="file" (change)="onFileSelected($event)">
</app-background-card>