<div class="container-lg mb-3 p-3 rounded" style="background-color: white;">
    <div class="d-flex">
        <div style="width: 50em; padding: 3em;">
            <h1>Bienvenue sur l'espace Actionneur</h1>
            <h3> Gérez les charbons, annonces, exercices et catégories d'exercices.</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat ratione eum illo odio, praesentium
                reprehenderit beatae eius molestias nemo quos labore, architecto quaerat, corrupti modi voluptas! Sit
                itaque commodi hic.
            </p>
        </div>
        <div>
            <img src="../assets/images/charbon.svg" alt="Image charbon" width="320" height="320">
        </div>
    </div>
</div>



<app-background-card title="Edition de charbons" buttonText="Gérer les charbons" buttonRouterLink="/actionner/charbons">
    <div class="row mt-4 ms-2">
        <div class="col-md-12">
            <h5>Ajouter un charbon</h5>
            <app-charbon-form></app-charbon-form>
        </div>
    </div>
</app-background-card>

<app-background-card title="Edition d'exercices" buttonText="Gérer les exercices"
    buttonRouterLink="/actionner/exercices">
    <div class="row mt-4 ms-2">
        <div class="col-md-8">
            <h5 d-flex justify-content-center>Ajouter un exercice</h5>
            <app-exercise-form></app-exercise-form>
        </div>
    </div>
</app-background-card>

<app-background-card title="Edition de catégories d'exercices" buttonText="Edition de catégories" buttonRouterLink="/actionner/exercices">
    <div class="row mt-4 ms-2">
        <div class="col-md-6">
            <h5 d-flex justify-content-center>Ajouter une catégorie</h5>
            <app-exercise-topic-form></app-exercise-topic-form>
        </div>
    </div>
</app-background-card>