<div class="container">
    <app-main-button content="Page d'Accueil" [isBig]="true" [isFilled]="false"></app-main-button>
</div>
<app-background-card title="Exercices">
    <div class="m-3">
        <p>Tu peux consulter ici les exercices créés par notre équipe ainsi et retrouver les exercices utilisés lors des
            charbons.</p>
        <div class="row">
            <div class="col-md-3">
                <label for="inputTri" class="form-label">Trier par :</label>
                <select id="inputTri" class="form-select">
                    <option selected>-----------------</option>
                    <option value="1">Durée croissante</option>
                    <option value="2">Plus récent</option>
                </select>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <label for="TypeUE" class="form-label">Type d'UE :</label>
                <select id="TypeUE" class="form-select">
                    <option selected>-----------------</option>
                    <option value="1">Mécanique</option>
                    <option value="2">Informatique</option>
                    <option value="2">Mathématique</option>
                    <option value="2">Électricité</option>
                </select>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-3">
                <label for="customRange3" class="form-label">Durée du charbon</label>
                <input type="range" class="form-range" min="0" max="3" step="0.25" id="customRange3">
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <label for="inputUE" class="form-label">UE :</label>
                <select id="inputUE" class="form-select">
                    <option selected>-----------------</option>
                    <option value="1">MT1</option>
                    <option value="2">MT2</option>
                    <option value="1">MT3</option>
                    <option value="2">MT3A</option>
                </select>
            </div>
        </div>
    </div>
</app-background-card>

<app-background-card title="Exercices LO21">
    <div class="d-flex flex-column align-items-center">
        <app-exercise class="col-12  col-md-10 col-xxl-8" *ngFor="let exerciseTopic of exerciseTopicList"
            [exerciseTopic]="exerciseTopic"></app-exercise>
    </div>
</app-background-card>