<div class="container">
    <h6><a class="custom-link" routerLink="/accueil"><img src="assets/images/back.svg">Page d'accueil</a></h6>
</div>
<div class="container-lg mb-3 p-3 rounded" style="background-color: white;">
    <div class="d-flex justify-content-between" style="padding-left: 6em; padding-right: 6em;">
        <div class="pt-3" style="width: 50em;">
            <h1>Exercices </h1>
            <br>
            <p>Tu peux consulter ici les exercices créés par notre équipe ainsi et
                retrouver les exercices utilisés lors des charbons.</p>

        </div>
        <img src="assets/images/charbon.svg" alt="Image charbon" width="320" height="320">
    </div>
</div>

<app-background-card title="Exercices">
    <app-exercise-list></app-exercise-list>
</app-background-card>