<div class="container">
  <h6><a class="custom-link" routerLink="/accueil"><img src="assets/images/back.svg">Page d'accueil</a></h6>
</div>

<div class="container-lg mb-3 p-3 rounded" style="background-color: white;">
  <div class="d-flex justify-content-between" style="padding-left: 6em; padding-right: 6em;">
    <div class="pt-3" style="width: 50em;">
      <h1>Planning des charbons</h1>
      <p>
        Tu peux retrouver ici le planning des futurs charbons ainsi que les rediffusions des charbons que tu as
        raté et les ressources utilisées.
      </p>
    </div>
    <div>
      <img src="assets/images/charbon.svg" alt="Image charbon" width="320" height="320">
    </div>
  </div>
  <div class="d-flex">
    <div style="width: 70%; padding: 3em; padding-top: 0;">
      <app-calendar (selectedCharbonChange)="handleSelectedCharbonChange($event)"></app-calendar>
    </div>
    @if (selectedCharbon) {
    <div style="width: 30%; padding: 3em; padding-top: 7em; padding-left: 0;">
      <app-charbon-card [charbon]="selectedCharbon"></app-charbon-card>
    </div>
    }
  </div>
</div>

<app-background-card title="Prochains charbons">
  <div class="row row-cols-auto" style="justify-content: center;">
    @for (charbon of nextThreeCharbons; track charbon) {
    <app-charbon-card class="mt-4" [charbon]="charbon"></app-charbon-card>
    }
  </div>
</app-background-card>

<app-background-card title="Derniers charbons">
  <app-charbon-list></app-charbon-list>
</app-background-card>