<div class="m-5">
  <div class="row">
    <div class="col-9">
      <h5>
        Vous êtes connecté en tant que <strong>{{loggedUser.username}}</strong>
      </h5>
    </div>
    <div class="col">
      <app-main-button [isFilled]="false" [isBig]="true" (click)="logout()">Se déconnecter</app-main-button>
    </div>
  </div>
  <br>
  <p>Adresse mail: <strong>{{loggedUser.email}}</strong></p>
  <p class=" mt-4"><a class="custom-link" (click)="togglePasswordEdition()">Modifier le mot de passe</a></p>
  <div class="" *ngIf="editPassword">
    <form [formGroup]="passwordForm">
      <div class="row">
        <div class="col-md-6">
          <input type="password" class="form-control mb-3" placeholder="Mot de passe actuel" formControlName="oldPassword">
          <input type="password" class="form-control mb-3" placeholder="Nouveau mot de passe" formControlName="newPassword">
          <input type="password" class="form-control mb-3" placeholder="Confirmer nouveau mot de passe"
            formControlName="newPasswordConfirmation">
        </div>
      </div>
      <app-main-button [isFilled]="false" [isBig]="true" (click)="submitPasswordChange()">Valider</app-main-button>
    </form>
  </div>

  <div>
  </div>
</div>