<app-background-card>
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-between">
      <div>
        <h2 class="d-flex justify-content-center mb-3">Connexion</h2>
        <form [formGroup]="loginForm">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="email" formControlName="emailOrUsername" placeholder>
            <label for="email_username">Email ou nom d'utilisateur</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password" formControlName="password" placeholder>
            <label for="password">Mot de passe</label>
          </div>
        </form>
      </div>
      <div class="d-flex justify-content-center">
        <app-main-button content="Connexion" [isFilled]="false" [isBig]="true" (click)="login()"></app-main-button>
      </div>
    </div>
    <div class="col-md-6 border-start border-3 d-flex flex-column justify-content-between">
      <div>
        <h2 class="d-flex justify-content-center mb-3">Inscription</h2>
        <form [formGroup]="registerForm">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" name="newEmail" formControlName="email" placeholder>
            <label for="newEmail">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="newUsername" formControlName="username" placeholder>
            <label for="newUsername">Nom d'utilisateur</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" name="Password" formControlName="password" placeholder>
            <label for="Password">Mot de passe</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" name="ConfirmPassword" formControlName="passwordConfirmation"
              placeholder>
            <label for="ConfirmPassword">Confirmer Mot de passe</label>
          </div>
        </form>
      </div>
      <div class="d-flex justify-content-center">
        <app-main-button content="Inscription" [isFilled]="false" [isBig]="true" (click)="register()"></app-main-button>
      </div>
    </div>
  </div>
</app-background-card>