<nav class="navbar navbar-expand-lg primary-website-bg-color text-light fixed-top" style="height: 60px;">
    <div class="container">
        <a routerLink="/accueil">
            <img class="a-icon" src="../../assets/images/icon.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="toggleClasses()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="{'primary-website-bg-color p-3 rounded': isToggled}"
            id="navbarSupportedContent">
            <div class="me-5"></div>
            <div class="me-5"></div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="isActionneurRoute() ?'/actionner/accueil' : '/accueil' "
                        routerLinkActive="active-page">Accueil</a>
                </li>
                <li *ngIf="!isActionneurRoute()" class="nav-item">
                    <a class="nav-link" routerLink="/annonces" routerLinkActive="active-page">Annonces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="isActionneurRoute() ?'/actionner/charbons' : '/charbons' "
                        routerLinkActive="active-page">Charbons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="isActionneurRoute() ?'/actionner/exercices' : '/exercices' "
                        routerLinkActive="active-page">Exercices</a>
                </li>
            </ul>
            <div class="d-flex justify-content-between">
                <app-main-button *ngIf="loggedUser?.isActionneur && !isActionneurRoute()" content="Actionner"
                    [isFilled]="true" routerLink="/actionner/accueil"></app-main-button>
                <div class="me-3"></div>
                <app-main-button *ngIf="loggedUser != undefined; else login" [content]="this.loggedUser.username"
                    [isFilled]="false" (click)="openAccountForm()"></app-main-button>
                <ng-template #login>
                    <app-main-button content="Connexion" [isFilled]="false" (click)="openLoginForm()"></app-main-button>
                </ng-template>
            </div>
        </div>
    </div>
</nav>