.a-icon {
    width: 50px;
    height: 50px;
    user-select: none;
    pointer-events: none;
}

.active-page {
    font-weight: bold;
}

.nav-link {/* 
    color: var(--bs-body-color); */
    color: white;
}

.navbar-collapse.collapse {
    background-color: rgba(32, 32, 32, 0.95);
    border-radius: 10px;
    padding-inline: 10px;
    padding-block: 3px;
    margin-top: 20px;
}