<nav class="navbar navbar-expand-lg primary-website-bg-color fixed-top"
  style="height: 60px; background-color: rgb(0,0,0,0)">
  <div class="container">
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [collapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <a routerLink="/">
        <img class="a-icon" src="../../assets/images/unknown.png">
      </a>
      <div class="me-5"></div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="isActionneurRoute() ?'/actionner/accueil' : '/' "
            routerLinkActive="active-page" [routerLinkActiveOptions]="{exact: true}">Accueil</a>
        </li>
        @if (!isActionneurRoute()) {
        <li class="nav-item">
          <a class="nav-link" routerLink="/annonces" routerLinkActive="active-page">Annonces</a>
        </li>
        }
        <li class="nav-item">
          <a class="nav-link" [routerLink]="isActionneurRoute() ?'/actionner/charbons' : '/charbons' "
            routerLinkActive="active-page">Charbons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="isActionneurRoute() ?'/actionner/exercices' : '/exercices' "
            routerLinkActive="active-page">Exercices</a>
        </li>
      </ul>
      <div class="d-flex justify-content-between">
        @if (isActionneur && !isActionneurRoute()) {
        <app-main-button [isFilled]="true" routerLink="/actionner/accueil">Actionner</app-main-button>
        }
        <div class="me-3"></div>
        @if (isLogged) {
        <app-main-button [isFilled]="false" (click)="logout()">Vérifié ✓</app-main-button>
        } @else {
        <app-main-button [isFilled]="false" (click)="loginPopupService.open()">Vérifier</app-main-button>
        }
      </div>
    </div>
  </div>
</nav>