<div class="row pt-2">
  <div class="col-md-6">
    <div class="row">
      <form [formGroup]="form">
        <input type="text" class="form-control mt-3" placeholder="Titre du charbon" formControlName="title">
        @if (submitted && form.get('title')?.invalid) {
        <div class="text-danger">Le titre doit comporter au moins 4 caractères</div>
        }
        <textarea class="form-control mt-3" placeholder="Description" id="description" style="height: 100px"
          formControlName="description"></textarea>
        @if (submitted && form.get('description')?.invalid) {
        <div class="text-danger">La description doit comporter au moins 8 caractères</div>
        }
        <div class="row">
          <div class="col">
            <select class="form-select form-select-md mt-3" formControlName="courseType">
              <option [ngValue]="CourseType.undefined" disabled>Choisir un type d'UE</option>
              <option [ngValue]="CourseType.elec">Elec</option>
              <option [ngValue]="CourseType.info">Info</option>
              <option [ngValue]="CourseType.meca">Meca</option>
              <option [ngValue]="CourseType.maths">Maths</option>
            </select>
          </div>
          <div class="col">
            @if (form.get('courseType')?.value !== CourseType.undefined) {
            <select class="form-select mt-3" formControlName="course">
              <option value="" disabled>Choisir une UE</option>
              @for (course of courseListForSelectedType; track course) {
              <option [ngValue]="course.id">
                {{ course.id }}
              </option>
              }
            </select>
            }
          </div>
        </div>
        @if (submitted && form.get('course')?.invalid) {
        <div class="text-danger">Vous devez choisir une UE</div>
        }


        <select class="form-select mt-3" formControlName="actionneurs" multiple>
          <option disabled>Choisir les actionneurs</option>
          @for (actionneur of actionneurList; track actionneur) {
          <option [ngValue]="actionneur">
            {{actionneur.username}}
          </option>
          }
        </select>
        @if (submitted && form.get('actionneurs')?.invalid) {
        <div class="text-danger">Vous devez choisir au moins un actionneur</div>
        }

        <div class="col-md-6 mt-3">
          <input type="datetime-local" class="form-control" formControlName="date" name="date">
        </div>
        @if (submitted && form.get('date')?.invalid) {
        <div class="text-danger">Vous devez sélectionner la date du charbon</div>
        }

        @if (isPassedDate()) {
        <input type="text" class="form-control mt-3" placeholder="Lien de la rediffusion" formControlName="replayLink">
        }

        <div class="col-12 mt-3">
          <app-main-button [isFilled]="true" [isBig]="true" (click)="submit()">Valider</app-main-button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6 d-flex justify-content-center align-items-center">
    <app-charbon-card [charbon]="charbonPreview"></app-charbon-card>
  </div>
</div>