<app-nav-bar></app-nav-bar>

<div class="container mt-5 mb-3 p-3 rounded" style="background-color: white;">
    <div class="d-flex">
        <div style="width: 50em; padding: 3em;">
            <h1>Bienvenue sur le site du PL$tek !</h1>
            <h3>Notre mission: t'aider à réussir tes UE</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat ratione eum illo odio, praesentium
                reprehenderit beatae eius molestias nemo quos labore, architecto quaerat, corrupti modi voluptas! Sit
                itaque commodi hic.
            </p>
        </div>
        <div>
            <img src="../assets/charbon.png" alt="Image charbon" width="400" height="400">
        </div>
    </div>
    <h5 class="text-center mb-3">Rejoins nous !</h5>
    <div class="text-center">
        <img src="../assets/insta.png" alt="Image charbon" width="50" height="50">
        <img class="ms-3 me-3" src="../assets/discord.png" alt="Image charbon" width="140" height="80">
        <img src="../assets/linkedin.png" alt="Image charbon" width="50" height="50">
    </div>
    <div class="text-center mt-3">
        <a href="#"><app-main-button content="En savoir plus"></app-main-button></a>
    </div>
</div>

<div class="container mt-5 mb-3 p-5 rounded" style="background-color: white;">
    <div class="container d-flex justify-content-between">
        <div>
            <h4>Prochains charbons</h4>
        </div>
        <div>
            <app-main-button content="Planning complet"></app-main-button>
        </div>
    </div>
    <div class="row row-cols-3 mt-3">
        <app-charbon-card *ngFor="let charbon of charbonList" [charbon]="charbon"></app-charbon-card>
    </div>
</div>

<div class="container mt-5 mb-3 p-5 rounded" style="background-color: white;">
    <div class="container d-flex justify-content-between">
        <div>
            <h4>Dernières annonces</h4>
        </div>
        <div>
            <app-main-button content="Toutes les annonces"></app-main-button>
        </div>
    </div>
    <div>
        <div id="carouselExampleControlsNoTouching" class="carousel slide mt-3" data-bs-touch="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between"
                            style="background-color: #505050; color: #ffffff;">
                            <div>Nouveau semestre et reprise !</div>
                            <div>Le 08/12/2023</div>
                        </div>
                        <div class="card-body mx-auto">
                            <div>
                                <h5>Bonjour à toutes et à tous !</h5> <br>


                                C'est l'heure ! <br><br>

                                Envie de traverser l'océan pour remplir ton CV tout blanc ? <br>
                                Envie de t'ouvrir à d'autres domaines parce que t'en as assez de l'espace Schengen ?
                                <br>
                                Envie de doubler ton diplôme pour viser mieux qu'un toit de chaume ? <br><br>

                                <strong>Le PL$tek t'apporte les réponses sur les DD et SEE au CANADA 🇨🇦
                                    !</strong><br><br>

                                Rejoins-nous MARDI à 19h00 pour charbonner ton prochain programme d'études <br><br>

                                <strong>Au menu :</strong>
                                <ul>
                                    <li>M'engager dans un Double Diplôme : En suis-je capable ?</li>
                                    <li>Quelques opportunités de DD et de SEE au Canada 🇨🇦</li>
                                    <li>Témoignages de vaillants explorateurs !</li>
                                    <li>Comment me lancer au DD ?</li>
                                    <li>Séance Q&A</li>
                                </ul>

                                Il est grand temps ! <br>
                                A tantôt ! <br>
                                Le melon d'eau <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between"
                            style="background-color: #505050; color: #ffffff;">
                            <div>Nouveau semestre et reprise !</div>
                            <div>Le 08/12/2023</div>
                        </div>
                        <div class="card-body mx-auto">
                            <div>
                                <h5>Bonjour à toutes et à tous !</h5> <br>


                                C'est l'heure ! <br><br>

                                Envie de traverser l'océan pour remplir ton CV tout blanc ? <br>
                                Envie de t'ouvrir à d'autres domaines parce que t'en as assez de l'espace Schengen ?
                                <br>
                                Envie de doubler ton diplôme pour viser mieux qu'un toit de chaume ? <br><br>

                                <strong>Le PL$tek t'apporte les réponses sur les DD et SEE au CANADA 🇨🇦
                                    !</strong><br><br>

                                Rejoins-nous MARDI à 19h00 pour charbonner ton prochain programme d'études <br><br>

                                <strong>Au menu :</strong>
                                <ul>
                                    <li>M'engager dans un Double Diplôme : En suis-je capable ?</li>
                                    <li>Quelques opportunités de DD et de SEE au Canada 🇨🇦</li>
                                    <li>Témoignages de vaillants explorateurs !</li>
                                    <li>Comment me lancer au DD ?</li>
                                    <li>Séance Q&A</li>
                                </ul>

                                Il est grand temps ! <br>
                                A tantôt ! <br>
                                Le melon d'eau <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between"
                            style="background-color: #505050; color: #ffffff;">
                            <div>Nouveau semestre et reprise !</div>
                            <div>Le 08/12/2023</div>
                        </div>
                        <div class="card-body mx-auto">
                            <div>
                                <h5>Bonjour à toutes et à tous !</h5> <br>


                                C'est l'heure ! <br><br>

                                Envie de traverser l'océan pour remplir ton CV tout blanc ? <br>
                                Envie de t'ouvrir à d'autres domaines parce que t'en as assez de l'espace Schengen ?
                                <br>
                                Envie de doubler ton diplôme pour viser mieux qu'un toit de chaume ? <br><br>

                                <strong>Le PL$tek t'apporte les réponses sur les DD et SEE au CANADA 🇨🇦
                                    !</strong><br><br>

                                Rejoins-nous MARDI à 19h00 pour charbonner ton prochain programme d'études <br><br>

                                <strong>Au menu :</strong>
                                <ul>
                                    <li>M'engager dans un Double Diplôme : En suis-je capable ?</li>
                                    <li>Quelques opportunités de DD et de SEE au Canada 🇨🇦</li>
                                    <li>Témoignages de vaillants explorateurs !</li>
                                    <li>Comment me lancer au DD ?</li>
                                    <li>Séance Q&A</li>
                                </ul>

                                Il est grand temps ! <br>
                                A tantôt ! <br>
                                Le melon d'eau <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                data-bs-slide="prev">
                <img src="../assets/prev.png" alt="" width="50" height="50">
                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                <!-- <span class="visually-hidden">Previous</span> -->
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                data-bs-slide="next">
                <img src="../assets/next.png" alt="" width="50" height="50">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="text-center mt-5 mb-5">
    <h5 class="text-center mb-3">Rejoins nous !</h5>
    <div class="text-center">
        <img src="../assets/insta.png" alt="Image charbon" width="50" height="50">
        <img class="ms-3 me-3" src="../assets/discord.png" alt="Image charbon" width="140" height="80">
        <img src="../assets/linkedin.png" alt="Image charbon" width="50" height="50">
    </div>
</div>