<nav class="navbar navbar-expand-lg primary-website-bg-color text-light" style="height: 3em;">
    <div class="container">
        <h1>A</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="me-5"></div>
            <div class="me-5"></div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" aria-current="page" href="#"><strong>Accueil</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="#">Annonces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="#">Guides</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="#">Charbons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="#">Exercices</a>
                </li>
            </ul>
            <div class="d-flex justify-content-between">
                <app-main-button content="Actionner" [isFilled]="true"></app-main-button>
                <div class="me-3"></div>
                <app-main-button content="Connexion" [isFilled]="false"></app-main-button>
            </div>
        </div>
    </div>
</nav>