<div class="container">
    <app-main-button routerLink="/actionner/accueil" content="Zone actionneur" [isBig]="true"
        [isFilled]="false"></app-main-button>
</div>
<app-background-card>
    <div class="d-flex">
        <div style="width: 50em; padding: 3em;">
            <h1>Edition de charbons</h1>
            <p>
                Ici, vous pouvez ajouter, modifier ou supprimer des charbons.
            </p>
        </div>
        <div>
            <img src="../assets/images/charbon.svg" alt="Image charbon" width="320" height="320">
        </div>
    </div>
</app-background-card>

<app-background-card title="Ajouter un charbon">
    <div class="row mt-4 ms-2">
            <app-charbon-form></app-charbon-form>
        </div>
</app-background-card>

<app-background-card title="Modifier Charbon">
    <app-charbon-list [editable]="true"></app-charbon-list>
</app-background-card>