.btn-style {
    border-radius: 0.3em;
    text-align: center;
    font-weight: 600;
}

.btn-filled {
    border: 2px solid #ffffff;
    background-color: #ED4444;
    color: #ffffff;
}

.btn-not-filled {
    border: 2px solid #ED4444;
    background-color: #ffffff;
    color: #ED4444;
}

.ressource-style {
    border: 2px solid white;
    background-color: transparent;
    color: white;
}

.participate-style {
    border: 2px solid transparent;
    background-color: white;
    color: #5592EF;
}

.edit-style {
    border: 2px solid #5592EF;
    background-color: transparent;
    color: #5592EF;
}