@import '../../shared/variables';

.btn-style {
    border-radius: 0.4em;
    text-align: center;
    font-weight: 600;
    min-height: 2.2em;
    padding-inline: 0.5em;
}

@each $color in $course-colors {
    .btn-filled-#{$color} {
        border: 2px solid #ffffff;
        background-color: #{'#' + $color};
        color: #ffffff;
    }
}

@each $color in $course-colors {
    .btn-white-#{$color} {
        border: 2px solid #{'#' + $color};
        background-color: #ffffff;
        color: #{'#' + $color};
    }
}