.primary-website-color {
    color: rgb(33, 168, 11);
}

.primary-website-bg-color {
    background-color: rgb(33, 168, 11);
}

.secondary-website-color {
    color: rgb(237, 68, 68);
}

.secondary-website-bg-color {
    color: rgb(237, 68, 68);
}