$primary : #ED4444;
$secondary : #21A80B;

body {
    background-color: #BBBBBB;
}

.primary-website-color {
    color: $secondary;
}

.primary-website-bg-color {
    background-color: $secondary;
}

.secondary-website-color {
    color: $primary;
}

.secondary-website-bg-color {
    color: $primary;
}

.math-style {
    background-color: #5592EF;
    color: white;
}

.info-style {
    background-color: #FFB800;
    color: white;
}