/* Importing Bootstrap SCSS file. */
@import "node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "ngx-toastr/toastr";
/* @import 'ngx-toastr/toastr-bs5-alert'; */


@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');


$primary : #ED4444;
$secondary : #21A80B;

body {
    background-color: #EFEFEF;
    font-family: "Commissioner", sans-serif;
    font-weight: 300;
}

.primary-website-color {
    color: $secondary;
}

.primary-website-bg-color {
    background-color: $secondary;
}

.secondary-website-color {
    color: $primary;
}

.secondary-website-bg-color {
    color: $primary;
}

.custom-link {
    color: var(--bs-body-color);
    text-decoration: underline;
    cursor: pointer;
}