<div class="row mt-4 ms-2">
    <div class="col-md-8">
        <h5 class="d-flex justify-content-center">Ajouter Charbon</h5>
        <div class="row pt-2">
            <div class="col-md-6">
                <div class="row">
                    <form [formGroup]="form">
                        <input type="text" class="form-control mb-3" placeholder="Titre du charbon"
                            aria-label="Titre charbon" formControlName="title">
                        <textarea class="form-control mb-3" placeholder="Description" id="description"
                            style="height: 100px" formControlName="description"></textarea>
                        <select class="form-select form-select-md mb-3" formControlName="courseType">
                            <option [ngValue]="courseTypeEnum.undefined" disabled>Choisir un type d'UE</option>
                            <option [ngValue]="courseTypeEnum.elec">Elec</option>
                            <option [ngValue]="courseTypeEnum.info">Info</option>
                            <option [ngValue]="courseTypeEnum.meca">Meca</option>
                            <option [ngValue]="courseTypeEnum.maths">Maths</option>
                        </select>

                        <select class="form-select mb-3" formControlName="course">
                            <option value="" disabled>Choisir une UE</option>
                            <option *ngFor="let course of courseListForSelectedType" [ngValue]="course.id">{{course.id}}
                            </option>
                        </select>

                        <select class="form-select mb-3" formControlName="actionneurs" multiple>
                            <option disabled>Choisir les actionneurs</option>
                            <option *ngFor="let actionneur of actionneurList" [ngValue]="actionneur">
                                {{actionneur.username}}
                            </option>
                        </select>

                        <div class="col-md-6 mb-3">
                            <input type="datetime-local" class="form-control" formControlName="date" name="date">
                        </div>
                        <div class="col-12">
                            <app-main-button content="Ajouter Charbon" [isFilled]="true" [isBig]="true"
                                (click)="addCharbon()"></app-main-button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <app-charbon-card [charbon]="charbonPreview"></app-charbon-card>
            </div>
        </div>
    </div>
    <div class="col-md-4 border-start border-3 ps-3">
        <h5 class="d-flex justify-content-center">Modifier Charbon</h5>
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
            <app-main-button content="Editer Charbon" [isFilled]="false" [isBig]="true"
                routerLink="/action/edit-charbon"></app-main-button>
        </div>
    </div>
</div>