<div class="m-3">
  <form [formGroup]="sortForm">
    <div class="row">
      <div class="col-md-3">
        <label class="form-label">Trier par :</label>
        <select class="form-select" formControlName="sort">
          <option [ngValue]="charbonSortOption.dateDesc">Plus récent d'abord</option>
          <option [ngValue]="charbonSortOption.dateAsc">Plus ancien d'abord</option>
          <option [ngValue]="charbonSortOption.dateAsc">Durée croissante</option>
          <option [ngValue]="charbonSortOption.dateDesc">Durée décroissante</option>
        </select>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <label class="form-label">Type d'UE:</label>
        <select class="form-select" formControlName="courseType">
          <option [ngValue]=" CourseType.undefined">Tous</option>
          <option [ngValue]="CourseType.meca">Mécanique</option>
          <option [ngValue]="CourseType.info">Informatique</option>
          <option [ngValue]="CourseType.maths">Mathématique</option>
          <option [ngValue]="CourseType.elec">Électricité</option>
        </select>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <label class="form-label">UE:</label>
        <select class="form-select" formControlName="course">
          <option value="">Toutes</option>
          @for (course of courseListForSelectedType; track course) {
          <option [ngValue]="course.id">{{course.id}}
          </option>
          }
        </select>
      </div>
    </div>
  </form>
</div>
<div class="row " style="justify-content: center;">
  @for (charbon of charbonList; track charbon) {
  <app-charbon-card class="mt-4" [charbon]="charbon" [editable]="editable"
    (popupClosed)="resetCharbons()"></app-charbon-card>
  }
</div>
<div class="d-flex justify-content-center mt-5">
  @if (isLoading) {
  <div class="spinner-border" role="status"></div>
  }
</div>