<div class="container">
    <app-main-button routerLink="/accueil" content="Page d'Accueil" [isBig]="true" [isFilled]="false"></app-main-button>
</div>

<app-background-card title="Ce semestre">
    <div class="p-5">
        <app-announcement-card class="m-1" [collapse] ="true"></app-announcement-card>
        <app-announcement-card class="m-1" [collapse] ="true"></app-announcement-card>
        <app-announcement-card class="m-1" [collapse] ="true"></app-announcement-card>
    </div>
</app-background-card>

<app-background-card title="Semestre de printemps 2023">
    <div class="p-5">
        <app-announcement-card class="m-1" [collapse] ="true"></app-announcement-card>
        <app-announcement-card class="m-1" [collapse] ="true"></app-announcement-card>
    </div>
</app-background-card>