<div class="container">
  <app-main-button routerLink="/" [isBig]="true" [isFilled]="false">Page d'accueil</app-main-button>
</div>

<div class="container-lg mb-3 p-3 rounded mt-5" style="background-color: white;">
  <div class="d-flex justify-content-between" style="padding-left: 6em; padding-right: 6em;">
    <div class="pt-3" style="width: 50em;">
      <h1>Dernières annonces</h1>
      <p class="mt-4">
        Retrouve ici toutes les annonces en lien avec le PL$tek, également disponibles <a href="https://discord.com"
          style="color: red;">sur le discord</a> !
      </p>
    </div>
    <div>
      <img src="assets/images/horn.svg" alt="Image charbon" width="200" height="200">
    </div>
  </div>
  <div class="d-flex align-items-center" style="padding-left: 6em; padding-right: 6em;">
    <label class="form-label me-5">Trier par :</label>
    <select class="form-select" style="width: 15em" [(ngModel)]="sortOption" (ngModelChange)="onSortChange()">
      <option [value]="announcementSortOption.dateDesc">Plus récent d'abord</option>
      <option [value]="announcementSortOption.dateAsc">Plus ancien d'abord</option>
      <option [value]="announcementSortOption.nameAsc">Ordre alphabétique</option>
      <option [value]="announcementSortOption.nameDesc">Ordre antalphabétique</option>
    </select>
  </div>
</div>

<app-background-card title="Toutes les annonces">
  <div class="p-5">
    @for (ann of announcementList; track ann) {
    <app-announcement-card class="m-1" [collapse]="true" [announcement]="ann"></app-announcement-card>
    }
  </div>
</app-background-card>